    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PlantSystematics</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Demo</a></li>
            <li><a href="http://www.plantsystematics.org/">Home</a></li>
            <li><a href="http://www.plantsystematics.org/cgi-bin/dol/dol_classifications.pl">Classifications</a></li>
            <li><a href="http://www.plantsystematics.org/cgi-bin/dol/dol_geotools.pl">GeoReferencing Tools</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Zamia</h1>
        <p class="lead"><b>180</b> species names found</p>
      </div>

      <div class="row">
	  
	  	<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
	            <img alt="Zamia" src="assets/Zamia.JPG" style="width: 300px; height: 200px;">
	            <div class="caption">
	              <h4>Zamia</h4>
	            </div>
          	</div>
        </div>

	  	<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
	            <img alt="Zamia acuminata" src="assets/Zamia_acuminata_18.JPG" style="width: 300px; height: 200px;">
	            <div class="caption">
	              <h4>Zamia acuminata</h4>
	            </div>
          	</div>
        </div>

	  	<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
	            <img alt="Zamia cunaria" src="/assets/Zamia_cunaria0337.JPG" style="width: 300px; height: 200px;">
	            <div class="caption">
	              <h4>Zamia cunaria</h4>
	            </div>
          	</div>
        </div>

	  	<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
	            <img alt="Zamia dressleri" src="/assets/Zamia_dressleri_63.JPG" style="width: 300px; height: 200px;">
	            <div class="caption">
	              <h4>Zamia dressleri</h4>
	            </div>
          	</div>
        </div>                

	  </div>

      <div class="row">

	  	<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
	            <img alt="Zamia furfuracea" src="/assets/Zamia_furfuracea.jpg" style="width: 300px; height: 200px;">
	            <div class="caption">
	              <h4>Zamia furfuracea</h4>
	            </div>
          	</div>
        </div>

	  	<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
	            <img alt="Zamia neurophyllidia" src="/assets/Zamia2.jpg" style="width: 300px; height: 200px;">
	            <div class="caption">
	              <h4>Zamia neurophyllidia</h4>
	            </div>
          	</div>
        </div>

	  	<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
	            <img alt="Zamia pseudomonticola" src="/assets/zamia5.JPG.30.jpg" style="width: 300px; height: 200px;">
	            <div class="caption">
	              <h4>Zamia pseudomonticola</h4>
	            </div>
          	</div>
        </div>

	  	<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
	            <img alt="Zamia pumila" src="/assets/Zamia_pumila_male.jpg" style="width: 300px; height: 200px;">
	            <div class="caption">
	              <h4>Zamia pumila</h4>
	            </div>
          	</div>
        </div>                        

	  </div>	  

    </div><!-- /.container -->
